.pyinit
custom_components/sherbrooke_poubelle/__pycache__/
**/.pytest_cache
*.env
*/.env
test-ha-config
test-docker-compose.yml
validation-ha-config.py
validate-integration.py
pytest.ini
venv/
.pytest_cache
**/__pycache__
**/*.pyc
*/*.pyc
**/*.pyo
**/*.pyd
